#content{
    max-width: 1600px;
    margin: 0 auto;
}

#background{
    height: 725px;
}

nav {
    text-align: center;
    margin: 20px;
}

nav a{
    margin: 50px;
    border: 1px solid black;
    padding: 20px;
    color: black;
    background-color: #66c3ff;
}

#background{
    height: 725px;
}

a {
    text-decoration: none;
}

body{
    text-align: center;
    background-color: #53d8fb;
}

header{
    background-color: #2364aa;
    padding-bottom: 10px;
}

#hero-img{
    width: 80px;
    padding-top: 5px;
}

.card-img{
    width: 80px;
    padding-top: 5px;
}

.mountains{
    width: 80px;
    padding-top: 5px;
}

.logo{
    width: 80px;
    padding-top: 5px;
}

nav a:hover{
    color: white;
    background-color: #53d8fb;
}

footer{
    background-color: #2364aa;
    padding-top: 10px;
}