body{
    
    background-color: #53d8fb;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

header{
    background-color: #2364aa;
    padding-bottom: 10px;
}

.logo{
    width: 80px;
    padding-top: 5px;
}

nav a{
    margin: 50px;
    border: 1px solid black;
    padding: 20px;
    color: black;
    background-color: #66c3ff;
    text-align: center;
    text-decoration: none;
}

nav a:hover{
    color: white;
    background-color: #53d8fb;
}

.home-title{
    color: black;
}

h4{
    color: black;
}

#hero-img{
    width: 100%;
    padding-top: 5px;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}

.msg{
    background-color: #2364aa;
}

main section{
    text-align: center;
}

.button-box{
    text-align: center;
}

.book{
    background-color: #66c3ff;
    color: black;
    border: 1px solid black;
    padding: 15px;
    text-decoration: none;
}

.book:hover{
    color: white;
    background-color: #53d8fb;
}

.card-img{
    width: 80px;
    padding-top: 5px;
}

.mountains{
    width: 80px;
    padding-top: 5px;
}

.join{
    background-color: #66c3ff;
    color: black;
    border: 1px solid black;
    padding: 5px;
    text-decoration: none;
}

.join:hover{
    color: white;
    background-color: #53d8fb;
}

.msg h2{
    color: #000000;
}

.msg p{
    color: #ffffff;
}

#background{
    height: 725px;
    background-color: #ffffff;
}



footer{
    background-color: #2364aa;
    padding-top: 10px;
}

footer a{
    color: #000000;
    text-decoration: none;
}

footer a:hover{
    color: #ffffff;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}