

.blog-post{
    max-width: 300px;
    margin: 0 auto;
    border: 1px  gray solid;
    border-radius: 10px;
    overflow: hidden;
    background-color: darkgray;
}

.blog-stats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    justify-items: center;
    column-gap: 2px;
}

.p-1{
    justify-items: center;
    background-color: rgb(63, 91, 139);
}

.p-2{
    justify-items: center;
    background-color: rgb(63, 91, 139);
}

.p-3{
    justify-items: center;
    background-color: rgb(63, 91, 139);
}